{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block album %}

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Album example</h1>
            <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
            <p>
                <a href="#" class="btn btn-primary my-2">Main call to action</a>
                <a href="#" class="btn btn-secondary my-2">Secondary action</a>
            </p>
        </div>
    </section>

{% endblock %}

{% block body %}
          <div class="row">
            {% for blog in blogs %}
            <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <div class="card-body">
                            <p class="card-text">ID: {{ blog.id }}<br>Published: {{ blog.published ? 'Yes' : 'No' }}<br>Text: {{ blog.tekst }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                Actions:
                                <div class="btn-group">
                                    <a href="{{ path('blog_show', {'id': blog.id}) }}"<button type="button" class="btn btn-sm btn-outline-secondary">Show</button></a>
                                    {% if is_granted('IS_AUTHENTICATED_FULLY') %} {#ROLE_ADMIN#}
                                        <a href="{{ path('blog_edit', {'id': blog.id}) }}"<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button></a>
                                    {% endif %}
                                </div>
                            <small class="text-muted">{{ blog.moment ? blog.moment|date('Y-m-d H:i:s T') : '' }}</small>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
          </div>

{% endblock %}
